<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	
  <connectionStrings>

    <!--Staging Connection String-->
	<!--<add name="DefaultConnection" connectionString="Server=18.138.248.212;Initial Catalog=Staging_PH2024;User ID=sa;password=Bapu#2@21$Aniruddha@20#21$21;" providerName="System.Data.SqlClient" />-->
	 
	  
    <!--Production/Live Connection String-->
	  <add name="DefaultConnection" connectionString="Server=52.183.165.190;Initial Catalog=TestDev_PH2024_11DEC2024;User ID=sqladminsyn;password=HSf2$5sjC#34bS;" providerName="System.Data.SqlClient" />

    <!--Local Machine Connection String-->
    <!--<add name="DefaultConnection" connectionString="Server=SYNTHESYS23\SQL2012;Initial Catalog=Synthesys_Elastic_Pool_StagingPharmacy2024_NewApp_LocalM;User ID=sa;password=SQL2012;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Home" value="Default.aspx" />
    <add key="WebSiteName_AfterHosting" value="PH2024" />
    <add key="WebSite_Title" value="..:: State Common Entrance Test Cell, Government of Maharashtra ::.." />
    <add key="WebSite_DefaultPage" value="StaticPages/HomePage" />
    <add key="WebSite_HomePage" value="../StaticPages/HomePage" />
    <add key="WebSite_LoginHomePage" value="../ApplicationPages/WelcomePage" />
    <add key="WebSite_LogOutPage" value="../StaticPages/HomePage" />
    <add key="Project_Name" value="Pharmacy2024" />
    <add key="Project_Type" value="Edu" />
    <add key="ShowMessage_DynamicMaster" value="ShowMsg" />
    <add key="LeftMenu_DynamicMaster" value="LeftMenu" />
    <add key="HiddenFormType_DynamicMaster" value="hdnFormType" />
    <add key="EncryptionKey" value="MAKV2SPBNI99212" />
    <add key="SendSMS" value="Y" />

    <add key="ApplicationURL" value="http://localhost:44368/" />
	<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=stagingblobsspl;AccountKey=RhvyjjpHZReBzCaqUmiOYLI7f7sAwdUIBPBdcnbQoDM+7pooWsuf4S+zo9FVBdjH/V0ysRN1z9sn+ASt0BJg3g==;EndpointSuffix=core.windows.net" />
	<add key="StorageBaseURL" value="https://stagingblobsspl.blob.core.windows.net/"/>
	<add key="BlobContainerName" value="stagingph2024"/>
	<add key="HttpAddress" value="https://stagingblobsspl.blob.core.windows.net/stagingph2024/"/>

    <add key="RKey" value="rzp_test_YyQZCB941BknLJ" />
    <add key="RSecret" value="qYeE9rERjSsMilKViDN02moi" />
    <add key="PaymentBy" value="Razorpay" />

    <!--<add key="PaymentBy" value="CCAvenue" />-->
    <add key="MERCHANT_KEYCCA" value="rAEsbZD" />
    <add key="HDFCTIN" value="76026899D" />
    <add key="WorkingKeyCCA" value="D241D1D27D58E7F2E9F6933AC03D2052D" />
    <add key="AccessCodeCCA" value="AVJE86GF13BW20EJWBD" />
    <add key="MerchantIDCCA" value="222464D" />

    <!--Easebuzz Credentials-->
    <!--<add key="PaymentBy" value="Easebuzz" />-->
    <add key="key" value="2PBP7IABZ2" />
    <add key="salt" value="DAH88E3UWQ" />
    <add key="env" value="test" />
    <!--"prod"-->
    
    <add key="CANCEL_URL" value="https://localhost:44368/FeeProcess/Response/PGResponseUPS" />
    <add key="SUCCESS_URL" value="https://localhost:44368/FeeProcess/Response/PGResponseUPS" />
    <add key="FAIL_URL" value="https://localhost:44368/FeeProcess/AfterPayment" />

    <!--SMS-->
    <add key="SMSSenderID" value="MahCET" />
    <add key="SMSSecureKey" value="218326AZ8Cq3wTx5b111cad" />
    <!--"281957Ah9RrMzc7Wj85d0b6149" />-->
    <add key="SMSOTPUrl" value="http://control.msg91.com/api/sendotp.php?" />
    <add key="SMSNormalUrl" value="http://api.msg91.com/api/sendhttp.php?" />
    <add key="SMSOTPVoiceUrl" value="http://control.msg91.com/api/retryotp.php?" />
    <add key="BulkSMSAPIURL" value="https://api.msg91.com/api/v2/sendsms" />
    <add key="ApplicationMode" value="Production" />
    
    
    <!--SendGrid Mail Settings-->
    <add key="sendgrid_apikey" value="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" />
    <add key="SendGridUsername" value="vaibhav.mahajan@synthesys.co.in" />
    <add key="SendGridPassword" value="Bapu#2@21$Aniruddha@20#21$21" />
    <add key="SendGridMailFromID" value="BPharmPharmD24_donotreply@cetmh.org" />
    <add key="SendGridMailFromName" value="B.Pharm / Pharm. D. Admissions 2024-25" />
    <!--SendGrid Mail Settings End-->

    <!--Msg91 E-Mail Settings-->
    <add key="Msg91BaseURL" value="https://control.msg91.com/api/v5/email/send" />
    <add key="Msg91AuthorizationKey" value="387066A2yE4Ua9o63a17cceP1" />
    <add key="Msg91FromEMailID" value="BPharmPharmD24_donotreply@cetmh.org" />
    <add key="Msg91FromName" value="B.Pharm / Pharm. D. Admissions 2024-25" />
    <!--Msg91 E-Mail Settings End-->
        
    <!--TATA WhatsApp Settings-->
    <add key="WhatsAppBaseURL" value="https://wb.omni.tatatelebusiness.com/whatsapp-cloud/messages" />
    <add key="WhatsAppAuthorizationKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZU51bWJlciI6Iis5MTg5NTYzNzE2MDAiLCJwaG9uZU51bWJlcklkIjoiMTE5MzExOTgxMTA1NDk2IiwiaWF0IjoxNjc4ODc0MDc5fQ.yab5FfGjDArfocMRYfoW7n2wInInfkrBf5Pdfrht41U" />
    <!--TATA WhatsApp Settings End-->

	<!--MSG91 WhatsApp Settings-->
	<add key="WhatsAppMS91BaseURL" value="https://api.msg91.com/api/v5/whatsapp/whatsapp-outbound-message/" />
	<add key="WhatsAppMSG91AuthorizationKey" value="387066AFo5j8HY426576e7fcP1" />
	<add key="WhatsAppMSG91IntegratedNumber" value="918956371600" />
	<!--MSG91 WhatsApp Settings End-->
    
    <!--FCR URL Start -->
    <add key="FCRBaseURL" value="https://fn.mahacet.org/" />
    <!--FCR URL End -->
    
    <!-- Common Settings-->
    <add key="TechnicalSiteUrl" value="http://stagingtechnical2020.synthesyslive.com" />
    <add key="ProjectNameSMS" value="BPharm/PharmD" />
    <add key="FormPrefix" value="PH24" />
    <add key="CurrentAdmisisonYear" value="2024-25" />
    <add key="CurrentYear" value="2024" />
    <add key="NextYear" value="2025" /> 	  
	  <add key="JEEName" value="JEE (Main) 2024 Paper-1 NTA Score" />
    <add key="NEETName" value="NEET 2024" />
    <add key="MHTCETName" value="MHT-CET 2024" />
    <add key="MHTCETPercentile" value="MHT-CET 2024 Percentile Score" />
    <add key="secretKey" value="6LfXKxgUAAAAAJK2oipfz3t4PtKXxpWwkgEuXCpM" />
    <add key="CutOffDate" value="09/12/2024 06:00:00 PM" />
    <add key="UploadingDate" value="09/12/2024 10:00:00 PM" />
    <add key="FormFillingDate" value="08/14/2024 04:00:00 PM" />
    <add key="FormFillingCAPDate" value="08/14/2024 04:00:00 PM" />
    <add key="FormConfirmationFCStartDate" value="07/11/2024 04:00:00 PM" />
    <add key="FormFillingLockDate" value="11/23/2024 05:30:00 PM" />
    <add key="TestSecretKey" value="7567WQLMSTCET1314" />
    <add key="IsTestKeyRequired" value="N" />
	<add key="IsARATestKeyRequired" value="Y" />
    <add key="FtpFilePath" value="~//SynthesysModules_Files/Resources/MultiLingual_LanguageTexts.xml" />
    <add key="EmailSendBy" value="Msg91" />  <!--<add key="EmailSendBy" value="SendGrid" />-->
	<add key="HSCMarksFetchBy" value="DB" /> <!--<add key="HSCMarksFetchBy" value="API" />-->
    <add key="IsCAPRegistrationStart" value="Y" />
    <add key="CVCNCLDocumentVerificationStart" value="Y" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.8" executionTimeout="1800" enableVersionHeader="false" />
    <!--<sessionState cookieSameSite="None" />-->
	<httpCookies requireSSL="true" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin" />
        <add name="Expect-CT" value="enforce, max-age=43200" />
		<add name="Content-Security-Policy" value="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' http://* data:; object-src 'self' http://* data: blob:; frame-src 'self' http://* data: blob:;"/>
        <add name="Feature-Policy" value="fullscreen 'none'" />
        <add name="Permissions-Policy" value="fullscreen=()" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="X-Xss-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true">
        <verbs allowUnlisted="false">
          <clear />
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <handlers>
      <add name="CAPTCHAHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <add verb="*" path="*.ashx" name="AjaxPro" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
  
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />    
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>