body {
   behavior:url("../SynthesysModules_Files/Style/csshover3-source.htc");
}
#palleteHolder {
    margin: 2px 0 2px 2px;
    position: relative;
}
.pallete {
    border: 1px solid #E5E5E5;
    height: 23px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 108px;
}
.pallete li {
    display: block;
    height: 100%;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.pallete ul {
    background-color: #FFFFFF;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.pallete:hover {
    cursor: pointer;
}
.pallete ul li {
    display: block;
    float: left;
    height: 10px;
    margin: 3px;
    width: 10px;    
}
.pallete:hover ul {
    border: 1px solid #E5E5E5;
    cursor: pointer;
    display: block;
    height: 23px;
    margin: 3px 0 0;
    right: 0;
    top: -3px;
    width: 150px;
}
#languageHolder {
    margin: 2px 0 2px 2px;
    position: relative;
}
.language {
    border: 1px solid #E5E5E5;
    height: 23px;
    list-style-type: none;
    margin: 0;
    padding: 0;    
    width: 108px;
    
}
.language li {
    display: block;
    height: 20px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 115px; 
}
.language ul {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.language:hover {
    cursor: pointer;
}
.language ul a {
    display: block;
    float: left;   
    margin: 3px;
    /*width: 10px; */   
}
.language:hover ul {
   /* border-top: #E5E5E5 1px solid;  
    border-right: #E5E5E5 1px solid; */       
    border-color: #ffffff; 
    cursor: pointer;
    display: block;
    height: 23px;
    margin: 3px 0 0;
    right: 0;
    top: -3px;     
   width:160px;
}
.language:hover li {
    background-color: #FFFFFF;   
    color:#FFFFFF;
    height: 15px;
   /* width:95%; */      
}

