<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ErrorURL" value="../Error.html"/>
    <add key="FailedUrl" value="../Failed.html"/>
    <add key="PaymentHistory" value="../PaymentDetails.aspx"/>
    <add key="LogDirectory" value="FeeProcess/LogFiles" />
    <add key="Oasis_SecureHashSecret" value="DD73EDB34B649FE008D875CFAB8D2DF2"/>
  </appSettings>
</configuration>
